body{
    background: green;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 450px;
    background: white;
    border-radius: 15px;
    display: block;
    align-items: center;
    justify-content: space-between;
}

.suit {
    font-size: 80px;
    padding-left: 10px;
}

.value {
    font-size: 100px;
    text-align: center;
    margin: 0;
}

.inverted {
    transform: rotate(180deg);
    font-size: 80px;
    padding-left: 10px;
}
button {
    padding: 15px 30px;
    margin-left: 25px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    background-color: #367eb9;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}
button:hover {
    background-color: rgb(245, 111, 111);
    transform: scale(1.05);
}
button:active {
    transform: scale(0.95);
}
