body{
    background: green;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 450px;
    background: white;
    border-radius: 15px;
    display: block;
    align-items: center;
    justify-content: space-between;
}

.suit {
    font-size: 80px;
    padding-left: 10px;
}

.value {
    font-size: 100px;
    text-align: center;
    margin: 0;
}

.inverted {
    transform: rotate(180deg);
    font-size: 80px;
    padding-left: 10px;
}